@import "./mixins";
@import "./vars";
@import "./keyframes";
@import "./maps";

.catalogo {
    background-color: #fc579c;
    @include bord-c-r;
    @include d-flex-center;
    padding: 15px;
    flex-flow: row wrap;
    align-content: space-between;

    ul {
        list-style: none;
    }

    .colores {
        background-color: #f5abd6;
        @include bord-c-r;
        margin: 5px;
    }
    
    .talles {
        background-color: #f5abd6;
        @include bord-c-r;
        margin: 9px;
    }
    
    &_producto {
        justify-content: space-between;
        background-color: #f68084;
        width: 300px;
        @include bord-c-r;
        margin: 5px 25px;
        display:grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        ul {
            background-color: #eed0dc;
            max-width: 200px;
        }
        
        a {
            text-decoration: none;
            font-family: Lora;
            text-align: center;
            align-content: center;
            background-color: #f5abd6;
            padding: 5px;
            margin: 5px;
            @include bord-c-r;
            transition: ease-in-out 0.3s;

            &:hover {
                margin: 1px;
                padding: 10px;
                background-color: #fc92d0;
            }

            h2 {
                font-family: Lora;
                font-size: 1.2rem;
                font-weight: map-get($map: $f-weight, $key: "simple" );
                color: $color-text;
            }
        }   
        img {
            height: 110px;
            width: auto;
            float: left;
            @include bord-c-r;
            margin: auto;
            transition: ease-in-out 0.2s;

            &:hover {
                height: 125px;
            }
        }

        &_precio {
            color: #000000;
            @include bord-c-r;
            padding-left: 5px;
            background: linear-gradient(90deg, #f5abd6 0%, #e4128c 100%);
            font-size: 1.2em;
            font-weight: map-get($map: $f-weight, $key: "important" );
            margin-left: 40px;
        }
        
    }

}
