@import "./mixins";
@import "./vars";
@import "./keyframes";
@import "./maps";

.contacto {
    font-family: Lora;
    background: linear-gradient(-45deg, #f084e5 0%, #aca7eb 100%);
    max-width: 900px;
    margin-left: 30px;
    @include bord-c-r;
    padding: 20px;
    text-align: left;
    margin: auto;

    h2 {
        margin-bottom: 1px;
        background-color: #f084e5;
        color: $color-text;
        font-size: 1.8rem;
    }
    h3 {
        margin-top: 2px;
        font-family: Exo;
        font-weight: map-get($map: $f-weight, $key: "normal" );
        color: $color-text;
        background-color: #f084e5;
        font-size: 1.5rem;
    }
}

.form {
    margin: auto;
    font-family: Exo;
    font-weight: map-get($map: $f-weight, $key: "normal" );
    background: linear-gradient(45deg, #f36be5 0%, #827dca 100%);
    width: 90%;
    max-width: 700px;
    @include bord-c-r;
    padding: 35px;

    &_container {
        width: 100%;
        margin: auto;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
    }

    &_input {
        font-family: inherit;
        padding: .8em 1.2em;
        @include bord-c-r;
        outline: none;
        border: none;
        transition: ease-in-out 0.2s;

        &_message {
            resize: none;
            padding: 1.8em 1em;
            margin-bottom: 1.5em;
        }
        &:focus {
            background-color: #d7d4ff;
            border-radius: 5px;
            border: 2px solid #ca7db9;
        }
    }

    &_cta {
        max-width: 70%;
        font-family: inherit;
        font-size: 1rem;
        background-color: $color-button;
        color: white;
        @include bord-c-r;
        border: none;
        font-weight: map-get($map: $f-weight, $key: "normal" );
        padding: .7em 0;
        cursor: pointer;
        transition: ease-in-out 0.15s;
        
        &:hover {
            font-weight: map-get($map: $f-weight, $key: "important" );
            background-color: #f3bbcc;
            color: $color-text;
        }
    }
}
