@import "./mixins";
@import "./vars";
@import "./keyframes";
@import "./maps";

@media (min-width: 576px) and (max-width: 768px) {
    .banner {
        width: 100%;
    }
    h1 {
        font-size: 1.2em;
    }
}


@media (max-width: 576px) {
    header h1 {
        font-size: 1.2em;
    }
    .menu {
        margin-left: 10%;
        margin-right: 10%;
    }
    .menu ul {
        width: 300px;
    }
    .menu li {
        margin: 0 8px 0 0;
        font-size: 15px;
    }
    .menu li a {
        padding: 1px 6px 1px 6px;
        border: 1px solid #6b428d;
        border-radius: 6px;    
    }
    .menu li a:hover {
        font-size: 17px;
    }
    .prod_img:hover {
        height: 320px;
        margin: 20px;
        border: 2px solid #c95197;
    }
    .product_details {
        max-width: 95%;
        border-radius: 5px;
        border: 1px solid $color-element;

        .detalles {
            fieldset {
                border: 1px solid #6b428d;
                margin: 7px;

                legend {
                    font-size: 1em;
                    font-weight: 400;
                    margin: 2px 2px;
                    padding: 4px;
                }
            }
        }
    }
    .carrito {
        &_titulo {
            font-family: Lora;
            font-size: 1em;
            font-weight: 400;
        }
    }
    .finalizar_compra {
        border: 1px solid #d3b1bb;
        max-width: 100px;
        padding: 1px;
        a {
            h4 {
                font-size: 15px;
            }
        }
    }
    .contacto {
        margin-left: 10px;
        border-radius: 19px;
        padding: 5px;
        text-align: left;
        margin: auto;
    
        h2 {
            font-size: 1.1rem;
        }
        h3 {

            font-size: 1rem;
    
        }
    }

    .form {

    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    &_cta {
        border-radius: 10px;
    }
}
}