@import "./mixins";
@import "./vars";
@import "./keyframes";
@import "./maps";

.bs-navbar {
    background-color: #da85b6;
    font-family: Exo;
    font-size: 1em;
    @include bord-c-r;

    a {
        transition: ease-in-out 0.2s;
    
        &:hover {
            font-size: 1.2em;
            color: #ffffff;
        }
    }
}

.menu {
    background-color: #fc579c;
    margin-left: 15%;
    margin-right: 15%;
    @include d-flex-center;
    border-radius: 9px;

    ul {
        list-style-type: none;
        @include d-flex-center;
        flex-flow: row wrap;
        width: 500px;
    }

    li {
        display: flex;
        margin: 0 10px 0 0;
        font-family: Exo;
        font-size: 20px;

        a {
            padding: 2px 7px 2px 7px;
            color: #666;
            background-color: #eeeeee;
            border: 2px solid #6b428d;
            border-radius: 10px;
            text-decoration: none;
            transition: ease-in-out 0.2s;
            
            &:hover {
                background-color: #ff6bb0;
                color: #ffffff;
                font-size: 21px;
            }
        }
    }
}
