@import "./vars";
@import "./mixins";

@import "./maps";

.product_details {
    background-color: $color-base;
    font-family: Exo;
    max-width: 85%;
    @include bord-c-r;

    h2{
        font-size: 20px;
        font-weight: map-get($map: $f-weight, $key: "important");
        margin: 10px auto 15px auto;
    }
    
    .detalles {
        min-height:max-content;
        .img_container {
            .img_producto {
                border-radius: 40px;
                width: 300px;
                margin-bottom: 10px;
            }
        }
        
        fieldset {
            margin-top: 30px;
            background-color: $color-element;
            @include bord-c-r;
            max-width: 70%;
            margin: 7px;

            legend {
                background-color: $color-emphasis;
                color: $color-text;
                font-weight: map-get($map: $f-weight, $key: "important" );
                font-size: 1.3em;
                margin: 3px 3px;
                padding: 7px;
                @include bord-c-r;
            }
            input {
                margin-left: 20px;
            }
            label {
                font-size: 0.8rem;
            }
        }
        
        .precio {
            background-color: $color-element;
            color: $color-text;
            @include bord-c-r;
            padding: 2px;
            line-height: 2.2;
            max-width: 150px;
            margin: auto;
        
            p {
                font-family: Lora;
                font-size: 1.4em;
                font-weight: map-get($map: $f-weight, $key: "important" );
                text-align: center;
            }
        }
        
        .add_cart {
            background-color: $color-button;
            padding: 1em;
            max-width: 200px;
            margin: 2px auto 15px auto;
            height: 50px;
            @include bord-c-r;
            line-height: 0.4;
            text-shadow: 2px 2px 5px $color-emphasis;
            transition: ease-in-out 0.3s;

            &:hover {
                background-color: $color-emphasis;
                height: 53px;
                text-shadow: 2px 2px 5px $color-button;
            }

            a {
                text-decoration: none;
                color: $color-text;
                font-family: Exo;
                font-size: 15px;
                font-weight: map-get($map: $f-weight, $key: "normal" );
                text-align: center;
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
    }   
}




