@import "./vars";
.carrito {
    background-color: $color-base;
    margin: 20px auto;
    border-radius: 1em;

    &_titulo {
        font-family: Lora;
        font-size: 1.5em;
        font-weight: 700;
        color: $color-text;
        box-shadow: inset 0px 0px 2px 2px #a7457e;
        text-align: center;
        background-color: $color-element;
        border-radius: 0.7em;
        padding: 1px;
    }
    &_lista {
        background-color: $color-element;
        margin: 10px 0 10px 0;
        border-radius: 0.7em;

        ul {
            list-style: none;
        }
    }

    &_producto {
        background-color: #ec94c7;
        border: 2px solid $color-button;
        margin: 20px 5px;
        border-radius: 1em;
        font-family: Exo;
        font-weight: 400;
        max-width: 600px;

        img {
            max-width: 200px;
            border-radius: 1em;
            box-shadow: 2px 2px 6px #6b428d;
        }

        p {
            text-align: center;
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 20px;
            background-color: #e9a8ce;
            border-radius: 1em;
        }

        &_nombre {
            font-size: 1.3em;
            margin-top: 2px;
            text-shadow: 1px 1px 2px #eed0dc;
        }
    }
}

.finalizar_compra {
    background-color: $color-button;
    border: 3px solid #d3b1bb;
    max-width: 130px;
    margin: auto;
    border-radius: 1em;
    padding: 2px;
    box-shadow: 3px 3px 3px #6b428d;

    a {
        text-decoration: none;
        text-align: center;
        font-family: Lora;
        font-style: italic;
        font-weight: 700;
        color: #ffffff;
        transition: ease-in-out 0.2s;
        h4 {
            font-size: 20px;
        }        
        &:hover {
            font-size: 20px;
            color: $color-text;
            text-shadow: 1px 1px 2px 5px #e99bb2;
        
        }
    }
    
    &:hover {
        background-color: #e9a4b8;
        border: 3px solid #8b1973;
    }
}