.carrito {
    background-color: #a6c0fe;
    margin: 20px 10px;
    border-radius: 1em;

    &_titulo {
        margin: 3px 400px;
        font-family: Lora;
        font-size: 1.5em;
        font-weight: 700;
        color: #353535;
        box-shadow: 2px 4px 10px #cf579d;
        text-align: center;
        background-color: #7dc1ee;
        border-radius: 1em;
        padding: 2px;
    }
    &_lista {
        background-color: #e9a8ce;
        margin: 20px 20px;
        border-radius: 1em;

        ul {
            list-style: none;
        }
    }

    &_producto {
        background-color: #c95197;
        border: 2px solid #6b428d;
        margin: 20px 5px;
        border-radius: 1em;
        font-family: Exo;
        font-weight: 400;
        max-width: 600px;

        img {
            max-width: 250px;
            border-radius: 1em;
            box-shadow: 2px 2px 6px #6b428d;
        }

        p {
            text-align: center;
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 20px;
            background-color: #e9a8ce;
            border-radius: 1em;
        }

        &_nombre {
            font-size: 1.2em;
            margin-top: 2px;
            text-shadow: 1px 1px 2px #eed0dc;
        }
    }
}

.finalizar_compra {
    background-color: #25d366;
    border: 3px solid #126430;
    max-width: 120px;
    margin: auto;
    border-radius: 2em;
    padding: 6px;
    box-shadow: 3px 3px 3px #6b428d;

    a {
        text-decoration: none;
        text-align: center;
        font-family: Lora;
        font-style: italic;
        font-weight: 700;
        color: #ffffff;
        text-shadow: 1px 1px 2px #126430;
        font-size: 19px;
        
        &:hover {
            font-size: 20px;
            color: #7dc1ee;
            text-shadow: 1px 1px 2px #25d366;
        
        }
    }
    
    &:hover {
        background-color: #126430;
        border: 3px solid #25d366;
    }
}